<div class="tampar-nav">

</div>

<!-- ESCOLHA ATRIBUTO DA CARTA -->

<div class="escolher-atributo-container">

    <div class="foto-carta-atributo">
        <img src="{{carta.fotoCarta}}">
    </div>

    <div class="atributos">
        <a href="/jogador/PvpOffline/escolherCarta/{{partida._id}}/{{carta._id}}/{{numeroCarta}}/ritmo">
            <button>
                Ritmo
            </button>
        </a>

        <a href="/jogador/PvpOffline/escolherCarta/{{partida._id}}/{{carta._id}}/{{numeroCarta}}/drible">
            <button>
                Drible
            </button>
        </a>

        <a href="/jogador/PvpOffline/escolherCarta/{{partida._id}}/{{carta._id}}/{{numeroCarta}}/finalizacao">
            <button>
                Finalização
            </button>
        </a>

        <a href="/jogador/PvpOffline/escolherCarta/{{partida._id}}/{{carta._id}}/{{numeroCarta}}/defesa">
            <button>
                Defesa
            </button>
        </a>

        <a href="/jogador/PvpOffline/escolherCarta/{{partida._id}}/{{carta._id}}/{{numeroCarta}}/passe">
            <button>
                Passe
            </button>
        </a>

        <a href="/jogador/PvpOffline/escolherCarta/{{partida._id}}/{{carta._id}}/{{numeroCarta}}/fisico">
            <button>    
                Físico
            </button>
        </a>
        
    </div>

</div>