<div class="container-produtos-loja">
    <div class="card" id="especial">
        <div class="img-box">
            <img src="https://www.fifplay.com/img/fifa/23/packs/fifa-23-pack.png">
        </div>
        <div class="content-box">
            <h3 class="titulo-produto-loja">
                Players Pack
            </h3>
            <p class="descricao-produto-loja">
                Um pacote recheado somente com jogadores ouro e talvez um especial.
            </p>
            <h2 class="preco-produto-loja">
                P$ 35.000
            </h2>
            <form action="/jogador/playersPack" method="POST">
                <input type="hidden" name="id" value="{{jogador._id}}">
                <button class="comprar-produto">
                    Comprar Pacote
                </button>
            </form>
        </div>
    </div>

    <div class="card" id="gold">
        <div class="img-box">
            <img src="https://www.fifplay.com/img/fifa/23/packs/gold-pack.png">
        </div>
        <div class="content-box">
            <h3 class="titulo-produto-loja">
                Rare Gold Pack
            </h3>
            <p class="descricao-produto-loja">
                Um pacote repleto de jogadores e itens ouro, entre eles, min. 3 Raros.
            </p>
            <h2 class="preco-produto-loja">
                P$ 15.000
            </h2>
            <form action="/jogador/rareGoldPack" method="POST">
                <input type="hidden" name="id" value="{{jogador._id}}">
                <button class="comprar-produto">
                    Comprar Pacote
                </button>
            </form>
        </div>
    </div>


    <div class="card" id="gold">
        <div class="img-box">
            <img src="https://www.fifplay.com/img/fifa/23/packs/gold-pack.png">
        </div>
        <div class="content-box">
            <h3 class="titulo-produto-loja">
                Gold Pack
            </h3>
            <p class="descricao-produto-loja">
                Um pacote repleto de jogadores e itens ouro, entre eles, min. 1 Raro.
            </p>
            <h2 class="preco-produto-loja">
                P$ 10.000
            </h2>
            <form action="/jogador/goldPack" method="POST">
                <input type="hidden" name="id" value="{{jogador._id}}">
                <button class="comprar-produto">
                    Comprar Pacote
                </button>
            </form>
        </div>
    </div>

    <div class="card" id="silver">
        <div class="img-box">
            <img src="https://www.fifplay.com/img/fifa/23/packs/silver-pack.png">
        </div>
        <div class="content-box">
            <h3 class="titulo-produto-loja">
                Rare Silver Pack
            </h3>
            <p class="descricao-produto-loja">
                Um pacote repleto de jogadores e itens prata, entre eles, min. 3 Raros.
            </p>
            <h2 class="preco-produto-loja">
                P$ 5.000
            </h2>
            <form action="/jogador/rareSilverPack" method="POST">
                <input type="hidden" name="id" value="{{jogador._id}}">
                <button class="comprar-produto">
                    Comprar Pacote
                </button>
            </form>
        </div>
    </div>

    <div class="card" id="silver">
        <div class="img-box">
            <img src="https://www.fifplay.com/img/fifa/23/packs/silver-pack.png">
        </div>
        <div class="content-box">
            <h3 class="titulo-produto-loja">
                Silver Pack
            </h3>
            <p class="descricao-produto-loja">
                Um pacote repleto de jogadores e itens prata, entre eles, min. 1 Raro.
            </p>
            <h2 class="preco-produto-loja">
                P$ 2.500
            </h2>
            <form action="/jogador/silverPack" method="POST">
                <input type="hidden" name="id" value="{{jogador._id}}">
                <button class="comprar-produto">
                    Comprar Pacote
                </button>
            </form>
        </div>
    </div>

    <div class="card" id="bronze">
        <div class="img-box">
            <img src="https://www.fifplay.com/img/fifa/23/packs/bronze-pack.png">
        </div>
        <div class="content-box">
            <h3 class="titulo-produto-loja">
                Bronze Pack
            </h3>
            <p class="descricao-produto-loja">
                Um pacote repleto de jogadores e itens bronze, entre eles, min. 3 Raros.
            </p>
            <h2 class="preco-produto-loja">
                P$ 500
            </h2>
            <form action="/jogador/bronzePack" method="POST">
                <input type="hidden" name="id" value="{{jogador._id}}">
                <button class="comprar-produto">
                    Comprar Pacote
                </button>
            </form>
        </div>
    </div>


</div>