<div class="tampar-nav">

</div>

<h1 class="escolha-sua-carta">
    Escolha Sua Carta
</h1>

<h2 class="placar-offline">
    {{ptsJogador}} x {{ptsOponente}}
</h2>

<div class="escalacao-container">

    <!-- ATACANTES DA ESCALAÇÃO -->

    <div class="container-cartas-escalacao">

        <div class="atacantes-escalacao">

            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta1}}/carta1">
                <div id="carta1" class="carta-escalacao">
                    <img src="{{escalacao.carta1}}" class="img-carta-escalacao" style="display: {{background}}">
                </div>
            </a>

            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta2}}/carta2">
                <div id="carta2" class="carta-escalacao">
                    <img src="{{escalacao.carta2}}" class="img-carta-escalacao">
                </div>
            </a>

            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta3}}/carta3">
                <div id="carta3" class="carta-escalacao">
                    <img src="{{escalacao.carta3}}" class="img-carta-escalacao">
                </div>
            </a>

        </div>

        <!-- MEIO CAMPISTAS DA ESCALAÇÃO -->

        <div class="meias-escalacao">

            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta4}}/carta4">
                <div id="carta4" class="carta-escalacao">
                    <img src="{{escalacao.carta4}}" class="img-carta-escalacao">
                </div>
            </a>

            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta5}}/carta5">
                <div id="carta5" class="carta-escalacao">
                    <img src="{{escalacao.carta5}}" class="img-carta-escalacao">
                </div>
            </a>

            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta6}}/carta6">
                <div id="carta6" class="carta-escalacao">
                    <img src="{{escalacao.carta6}}" class="img-carta-escalacao">
                </div>
            </a>

        </div>

        <!-- ZAGUEIROS  DA ESCALAÇÃO -->

        <div class="defensores-escalacao">

            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta7}}/carta7">
                <div id="carta7" class="carta-escalacao">
                    <img src="{{escalacao.carta7}}" class="img-carta-escalacao">
                </div>
            </a>

            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta8}}/carta8">
                <div id="carta8" class="carta-escalacao">
                    <img src="{{escalacao.carta8}}" class="img-carta-escalacao">
                </div>
            </a>

            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta9}}/carta9">
                <div id="carta9" class="carta-escalacao">
                    <img src="{{escalacao.carta9}}" class="img-carta-escalacao">
                </div>
            </a>

            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta10}}/carta10">
                <div id="carta10" class="carta-escalacao">
                    <img src="{{escalacao.carta10}}" class="img-carta-escalacao">
                </div>
            </a>

        </div>

        <!-- GOLEIRO DA ESCALAÇÃO -->

        <div class="goleiro-escalacao">
            
            <a href="/jogador/PvpOffline/escolherCarta/{{partida}}/{{escalacao.IDcarta11}}/carta11">
                <div id="carta11" class="carta-escalacao">
                    <img src="{{escalacao.carta11}}" class="img-carta-escalacao">
                </div>
            </a>

        </div>

    </div>

</div>